<h1 class="tipografia">Che Pistacho</h1>
<div class="memin01">
    <div class="button-container01">
        <!-- Bot贸n 1 -->
        <div class="button-wrapper01">
            <button class="main-button01">Productos</button>
            <ul class="options01">
                <li><button onclick="window.open('api/products')">C贸digo</button></li>
                <li><button onclick="window.open('/products')">En vivo</button></li>
            </ul>
        </div>

        <!-- Bot贸n 2 -->
        <div class="button-wrapper01">
            <button class="main-button01">Carrito</button>
            <ul class="options01">
                <li><button onclick="window.open('api/carts', '_blank')">C贸digo</button></li>
                <li><button onclick="window.open('/carts', '_blank')">En vivo</button></li>
            </ul>
        </div>
    </div>
</div>
